/*----------Mixins
*/

@import "mixins";


/*----------VARIABLES
*/

$clear: rgba(255,255,255,0);
$black: #000000;
$grey-3: #333333;
$grey-5: #555555;
$grey-7: #777777;
$grey-9: #999999;
$grey-b: #bbbbbb;
$grey-d: #dddddd;
$grey-e: #eeeeee;
$grey-f: #efefef;
$white: #ffffff;

$font-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;


/*----------EFFECTS
*/

:focus,
:active {
    outline: none;
}

input {
	@include box-sizing(border-box);
}


/*----------BODY
*/

html,
body {
    width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    font-family: $font-stack;
    font-weight: normal;
    font-size: 16px;
    color: $grey-3;
}

html {
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}


/*----------Media Queries
*/

@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 520px) {

}