// Base Styles
html {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  @include font-smoothing(on);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: calc(100vh - 100px);
  letter-spacing: -1px;
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}